In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\Admin\Downloads\traffic_stops.csv")

C:\Users\Admin\AppData\Local\Temp\ipykernel_19940\3144189883.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"C:\Users\Admin\Downloads\traffic_stops.csv")

In [4]:
df

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,vehicle_number
0,2020-01-01,0:00:00,Canada,M,59,19,Asian,Drunk Driving,Speeding,True,Vehicle Search,Ticket,True,16-30 Min,True,UP76DY3473
1,2020-01-01,0:01:00,India,M,35,58,Other,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,True,RJ83PZ4441
2,2020-01-01,0:02:00,USA,M,26,76,Black,Signal Violation,Speeding,False,Frisk,Ticket,True,16-30 Min,True,RJ32OM7264
3,2020-01-01,0:03:00,Canada,M,26,76,Black,Speeding,DUI,True,Frisk,Warning,False,0-15 Min,True,RJ76TI3807
4,2020-01-01,0:04:00,Canada,M,62,75,Other,Speeding,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,WB63BB8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65533,2020-02-15,12:13:00,India,F,54,48,Black,Other,Other,False,Vehicle Search,Arrest,True,16-30 Min,False,DL56GW6568
65534,2020-02-15,12:14:00,Canada,F,18,35,Hispanic,Seatbelt,Other,True,Vehicle Search,Ticket,False,16-30 Min,True,TN73EO7098
65535,2020-02-15,12:15:00,USA,M,27,41,Asian,Seatbelt,DUI,True,Frisk,Ticket,True,30+ Min,True,GJ33MX8328
65536,2020-02-15,12:16:00,Canada,F,49,63,Black,Seatbelt,Other,False,NaN,Warning,True,0-15 Min,True,KA24UZ8488
65537,2020-02-15,12:17:00,USA,F,72,32,Other,Seatbelt,Speeding,True,NaN,Ticket,True,16-30 Min,False,UP89PT2924

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65538 entries, 0 to 65537
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65538 non-null  object
 1   stop_time           65538 non-null  object
 2   country_name        65538 non-null  object
 3   driver_gender       65538 non-null  object
 4   driver_age_raw      65538 non-null  int64
 5   driver_age          65538 non-null  int64
 6   driver_race         65538 non-null  object
 7   violation_raw       65538 non-null  object
 8   violation           65538 non-null  object
 9   search_conducted    65538 non-null  bool
 10  search_type         43818 non-null  object
 11  stop_outcome        65538 non-null  object
 12  is_arrested         65538 non-null  bool
 13  stop_duration       65538 non-null  object
 14  drugs_related_stop  65538 non-null  bool
 15  vehicle_number      65538 non-null  object
dtypes: bool(3), int64(2), object(11)
memory usage: 6.7+ MB

In [6]:
from datetime import datetime
df['stop_date'] = pd.to_datetime(df['stop_date'],format="%Y-%m-%d")
df['stop_time'] = pd.to_datetime(df['stop_time'],format="%H:%M:%S")

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65538 entries, 0 to 65537
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65538 non-null  datetime64[ns]
 1   stop_time           65538 non-null  datetime64[ns]
 2   country_name        65538 non-null  object
 3   driver_gender       65538 non-null  object
 4   driver_age_raw      65538 non-null  int64
 5   driver_age          65538 non-null  int64
 6   driver_race         65538 non-null  object
 7   violation_raw       65538 non-null  object
 8   violation           65538 non-null  object
 9   search_conducted    65538 non-null  bool
 10  search_type         43818 non-null  object
 11  stop_outcome        65538 non-null  object
 12  is_arrested         65538 non-null  bool
 13  stop_duration       65538 non-null  object
 14  drugs_related_stop  65538 non-null  bool
 15  vehicle_number      65538 non-null  object
dtypes: bool(3), datetime64[ns](2), int64(2), object(9)
memory usage: 6.7+ MB

In [8]:
pd.set_option("display.max_columns", None)
df['search_type'].value_counts()

search_type
Frisk             21971
Vehicle Search    21847
Name: count, dtype: int64

In [9]:
df.dropna(how='all', axis=1, inplace=True)

In [10]:
df.drop('driver_age_raw', axis=1, inplace=True)
df.drop('violation_raw', axis=1, inplace=True)

In [11]:
df.fillna({'search_type':'None'}, inplace=True)

In [12]:
df.isnull().sum()

stop_date             0
stop_time             0
country_name          0
driver_gender         0
driver_age            0
driver_race           0
violation             0
search_conducted      0
search_type           0
stop_outcome          0
is_arrested           0
stop_duration         0
drugs_related_stop    0
vehicle_number        0
dtype: int64

In [15]:
pd.set_option("display.max_columns" , None)
df['violation'].value_counts()

violation
Other       13194
Speeding    13150
Signal      13112
DUI         13075
Seatbelt    13007
Name: count, dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65538 entries, 0 to 65537
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           65538 non-null  datetime64[ns]
 1   stop_time           65538 non-null  datetime64[ns]
 2   country_name        65538 non-null  object
 3   driver_gender       65538 non-null  object
 4   driver_age          65538 non-null  int64
 5   driver_race         65538 non-null  object
 6   violation           65538 non-null  object
 7   search_conducted    65538 non-null  bool
 8   search_type         65538 non-null  object
 9   stop_outcome        65538 non-null  object
 10  is_arrested         65538 non-null  bool
 11  stop_duration       65538 non-null  object
 12  drugs_related_stop  65538 non-null  bool
 13  vehicle_number      65538 non-null  object
dtypes: bool(3), datetime64[ns](2), int64(1), object(8)
memory usage: 5.7+ MB

In [17]:
#sql connection
import mysql.connector as mysqlcon
connection = mysqlcon.connect(host = 'localhost', user = 'root', password = 'kans', database = 'police_db')
cursor = connection.cursor()
cursor.execute('use police_db')

In [19]:
cursor.execute("""CREATE TABLE IF NOT EXISTS log (
                id int auto_increment primary key,
                stop_date DATE,
                stop_time TIME,
                country_name varchar(50),
                driver_gender varchar(2),
                driver_age int,
                driver_race varchar(50),
                violation varchar(50),
                search_conducted boolean,
                search_type varchar(50),
                stop_outcome varchar(50),
                is_arrested boolean,
                stop_duration varchar(50),
                drugs_related_stop boolean,
                vehicle_number varchar(50),
                timestamp datetime)
                """)
connection.commit()
print("create table successfully")

create table successfully

In [20]:
#insert values into table
from datetime import datetime
df['timestamp'] = datetime.now()
insert_values = df[
        [
            "stop_date",
            "stop_time",
            "country_name",
            "driver_gender",
            "driver_age",
            "driver_race",
            "violation",
            "search_conducted",
            "search_type",
            "stop_outcome",
            "is_arrested",
            "stop_duration",
            "drugs_related_stop",
            "vehicle_number",
            "timestamp"
        ]
].values.tolist()

query = "insert into log (stop_date, stop_time, country_name, driver_gender, driver_age, driver_race, violation, search_conducted,search_type, stop_outcome, is_arrested, stop_duration, drugs_related_stop, vehicle_number, timestamp) values (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
cursor.executemany(query, insert_values)
connection.commit()
print("insert values successfully")

insert values successfully

In [22]:
df.to_csv(r"C:\Users\Admin\Desktop\Police_check\traffic.csv")